html {
  color-scheme: dark light;
}

:root {
  --main-color: #F0A04B;
  --light-color: #FAF8F1;
  --light-color-alt: #e1dfd9;
  --dark-color: #03001C;
  --dark-color-alt: #1c1a33;
  --action-color: #2FA4FF;
  --text-black: black;
  --text-black-white: black;
  --text-white: white;
  --text-white-black: white;
  --white-black-color: white;
  --black-white-color: black;
  --text-grey: #808080;
  /* global colors */
  --facebook-blue: #4267B2;
  --twitter-blue: #1DA1F2;
  --youtube-red: #FF0000;
  --instagram-red: #F56040;
  --stapchat-yellow:#FFFC00;
  --git-hub-gray:#333;
}

body {
  min-height: 110vh;
  background-color: #FAF8F1;
  font-family: "Nunito", sans-serif;
}
body *, body *::before, body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font: inherit; */
}
body img, body picture, body svg, body video {
  display: block;
  max-width: 100%;
}
body table {
  border-collapse: collapse;
  border-spacing: 0;
}
body ol, body ul {
  list-style: none;
}
body blockquote, body q {
  quotes: none;
}
body blockquote:before, body blockquote:after,
body q:before, body q:after {
  content: "";
  content: none;
}
body input, body textarea, body button, body select {
  font: inherit;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
  color: initial;
}

/* Variables*/
body[dark-theme] {
  --light-color: #03001C ;
  --light-color-alt: #1c1a33 ;
  --dark-color: #FAF8F1;
  --dark-color-alt: #e1dfd9;
  --text-black-white: white;
  --text-white-black: black;
  --white-black-color: black;
  --black-white-color: white;
  background-color: var(--light-color);
  color: var(--text-black-white);
}

/* components */
.just-align-center {
  justify-content: center;
  align-items: center;
}

body[dark-theme] .d-dark-none {
  display: none;
}

body[dark-theme] .d-dark-block {
  display: block !important;
}

.divider-light-up, .divider-dark-up, .divider-dark-down, .divider-light-down, .divider-main {
  z-index: 10;
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  background-size: cover;
}

.divider-main {
  background-image: url("../svg/wave-main.svg");
}

.divider-light-up, .divider-dark-up, .divider-dark-down, .divider-light-down {
  background-image: url("../svg/wave-light-up.svg");
  bottom: 0;
  transform: translateY(-98%);
}

.divider-light-down {
  background-image: url(../svg/wave-light-down.svg);
  transform: translateY(-1%);
}

.divider-dark-up, .divider-dark-down {
  background-image: url("../svg/wave-dark-up.svg");
}

.divider-dark-down {
  background-image: url(../svg/wave-dark-down.svg);
  transform: translateY(-1%);
}

.btn-action {
  display: block;
  border: none;
  outline: none;
  background-color: var(--action-color);
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.2em 0.6em;
  color: white;
  cursor: pointer;
}
.btn-action:hover {
  color: white;
  background-color: rgba(47, 164, 255, 0.9);
}

.btn-main {
  display: block;
  border: none;
  outline: none;
  background-color: var(--main-color);
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.2em 0.6em;
  color: white;
  cursor: pointer;
}
.btn-main:hover {
  color: white;
  background-color: rgba(240, 160, 75, 0.9);
}

.bg-glass {
  background-color: rgba(255, 255, 255, 0.2);
  filter: blur(2px);
}

.section {
  position: relative;
  padding: 3rem 0;
}
.section .section-title {
  text-align: center;
}
.section .section-title h2 {
  position: relative;
  font-weight: 800;
  text-transform: capitalize;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 2.5rem;
}
.section .section-title h2::before, .section .section-title h2::after {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  background-color: transparent;
  border: 3px solid var(--dark-color);
  border-radius: 0.1rem;
  top: 50%;
  left: -1rem;
  transform: translate(-50%, -50%);
}
.section .section-title h2::after {
  left: calc(100% + 1rem);
}
.section .section-title p {
  font-weight: 500;
}

.brand-text {
  font-weight: 900;
  font-family: "Cairo", sans-serif;
  color: var(--main-color);
  font-size: 1.875rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sub-text {
  color: #808080;
}

/* Custom Anchore Tags */
a.custom-anchor {
  text-decoration: none;
  color: var(--text-black-white);
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}

a.custom-anchor::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--text-black-white);
  bottom: -0.1rem;
  left: 0;
  border-radius: 2px;
}

/* input stylling */
input, textarea {
  padding: 0.5rem;
  background-color: var(--light-color-alt);
  border: none;
  border-radius: 0.4em;
  border: 1.5px solid transparent;
  color: var(--black-white-color);
}
input:focus, textarea:focus {
  border-color: var(--main-color);
  outline: none;
}

/*
---------------Navigation bar
*/
nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--light-color);
}
nav .wrapper {
  background-color: inherit;
  padding: 0 20px;
}
nav .bar {
  display: flex;
  align-items: center;
  background-color: inherit;
}
nav .bar .logo {
  display: flex;
  align-items: center;
  gap: 0.75em;
  margin-right: auto;
}
@media (max-width: 768px) {
  nav .bar .logo {
    font-size: 1.25rem;
  }
}
nav .bar .logo img {
  width: 45px;
  height: 45px;
}
nav .bar ul {
  margin-right: auto;
  flex-grow: 1;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
nav .bar ul li.nav-item {
  font-size: 1.5rem;
  padding: 0.3em 0.5em;
}
nav .bar ul li.nav-item:first-child {
  margin-left: auto;
}
nav .bar ul li.nav-item a {
  color: var(--text-black-white);
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  overflow: hidden;
}
nav .bar ul li.nav-item a:hover {
  color: var(--main-color);
}
nav .bar ul li.nav-item a:hover::before {
  width: 100%;
}
nav .bar ul li.nav-item a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1em;
  background-color: var(--main-color);
  bottom: 0%;
  transition: width 0.5s ease-in-out;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}
nav .bar ul li.nav-item a.active {
  color: var(--main-color);
}
nav .bar ul li.nav-item a.active::before {
  width: 100%;
}
nav .bar ul .nav-btn {
  padding: 0.3em 0.5em;
}
nav .bar ul .nav-btn a.theme-btn {
  color: var(--text-black-white);
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}
nav .bar .actions {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}
nav .bar .actions .badge {
  padding: 0.1em 0.3em;
  top: 20%;
}
nav .bar .actions .cart {
  font-size: 1.25rem;
  color: var(--text-black-white);
}
nav .bar .menu-icon {
  color: var(--text-black-white);
  width: 22px;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  margin: 0 0.8725rem 0 1.25rem;
}
nav .bar .menu-icon .close-icon {
  display: none;
}
@media (max-width: 992px) {
  nav .bar ul {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: 100%;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    left: 0;
    overflow: hidden;
    transform-origin: center;
    background-color: inherit;
    padding-left: 20px;
    transition: height 0.5s ease;
  }
  nav .bar ul li.nav-item:first-child {
    margin-left: 0;
  }
  nav .bar ul li.nav-btn {
    margin-left: 0;
  }
}
nav.expanded .menu-icon .close-icon {
  display: block;
}
nav.expanded .menu-icon .burger-icon {
  display: none;
}
nav.expanded .bar ul {
  display: flex;
}
nav.expanded .bar ul a {
  width: -moz-fit-content;
  width: fit-content;
}

.landing {
  min-height: 100vh;
  background-size: cover;
  background-image: url(../svg/blob.svg);
  background-position: 0% 30%;
  overflow: hidden;
}
.landing .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing .bg svg {
  width: 100%;
  height: 100%;
  position: relative;
}
.landing .bg svg #first {
  transform: translate(100%, -100%);
}
.landing .container {
  min-height: 80vh;
}
.landing .row {
  height: 80vh;
}
.landing .landing-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.landing .landing-text h1 {
  font-weight: 700;
  color: var(--text-black-white);
}
.landing .landing-text h1 span {
  -webkit-text-stroke: 0.5px var(--light-color);
  font-size: 2.25rem;
  font-weight: 1000;
}
.landing .landing-text p {
  font-size: 1.125rem;
  font-weight: 700;
}
.landing .landing-text .btn-main {
  border: 2px solid var(--light-color);
}
@media (max-width: 768px) {
  .landing .landing-text {
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 6rem;
  }
}
.landing .sneaker-swiper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .landing .sneaker-swiper {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.landing .sneaker-swiper .swiper {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.landing .sneaker-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
}
.landing .sneaker-swiper .swiper-slide #first-img {
  max-width: 90%;
  transform: scale(1.5);
}
@media (max-width: 992px) {
  .landing .sneaker-swiper .swiper-slide #first-img {
    transform: scale(2);
  }
}
@media (max-width: 768px) {
  .landing .sneaker-swiper .swiper-slide #first-img {
    max-width: 70%;
    transform: scale(1.4);
  }
}
.landing .sneaker-swiper .swiper-slide #second-img {
  max-width: 50%;
  transform: scale(1.5) rotate(303deg);
}
@media (max-width: 992px) {
  .landing .sneaker-swiper .swiper-slide #second-img {
    max-width: 50%;
    transform: scale(2) rotate(303deg) translate(-10%, -16%);
  }
}
@media (max-width: 768px) {
  .landing .sneaker-swiper .swiper-slide #second-img {
    max-width: 50%;
    transform: scale(1.1) rotate(303deg) translate(-10%, 9%);
  }
}
.landing .sneaker-swiper .swiper-slide #third-img {
  max-width: 90%;
  transform: scale(1.5) rotate(320deg) translateY(-5%);
}
@media (max-width: 992px) {
  .landing .sneaker-swiper .swiper-slide #third-img {
    max-width: 50%;
    transform: scale(2.8) rotate(320deg) translate(2%, -4%);
  }
}
@media (max-width: 768px) {
  .landing .sneaker-swiper .swiper-slide #third-img {
    max-width: 70%;
    transform: scale(1.3) rotate(320deg) translate(3%, -11%);
  }
}
.landing .sneaker-swiper .swiper-slide #fourth-img {
  max-width: 90%;
  transform: scale(1.5) rotate(310deg) translateY(-5%);
}
@media (max-width: 992px) {
  .landing .sneaker-swiper .swiper-slide #fourth-img {
    max-width: 50%;
    transform: scale(3.5) rotate(310deg) translate(2%, -4%);
  }
}
@media (max-width: 768px) {
  .landing .sneaker-swiper .swiper-slide #fourth-img {
    max-width: 70%;
    transform: scale(1.3) rotate(310deg) translate(-9%, 2%);
  }
}

.about {
  overflow-x: hidden;
}
.about .container {
  margin-bottom: 5rem;
}
.about .row {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.about .video-container {
  aspect-ratio: 16/9;
}
.about .video-container iframe {
  aspect-ratio: 16/9;
}
.about .info p {
  font-size: 1.25rem;
  font-weight: 500;
}
.about .image {
  background-image: url("../images/about/demo.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1/1;
}
.about .tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about .tiles .tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin: 1rem;
  aspect-ratio: 1/1;
  background-color: var(--light-color-alt);
  border-radius: 20px;
  color: var(--main-color);
  font-size: 5rem;
  padding: 0.5rem;
}
.about .tiles .tile svg {
  margin-bottom: 0.5rem;
}
.about .tiles .tile p {
  font-size: 1rem;
  color: white;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}

.store {
  background-color: var(--light-color-alt);
}
.store .section-title {
  margin-top: 4rem;
}
.store .status {
  left: 50%;
  top: 0;
  z-index: 20;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #1c1a33;
  border: 2px solid white;
  border-radius: 1rem;
  min-width: 90%;
  max-width: 90%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.store .status .stat {
  flex-grow: 1;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.store .status .stat span {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
.store .status .stat p {
  text-align: center;
}
.store #products-filters {
  margin-top: 0.85rem;
}
.store #products-filters li button {
  border: 1px solid var(--black-white-color);
  color: var(--text-black-white);
  text-transform: capitalize;
  border-radius: 0.5em;
}
.store #products-filters li button.active {
  border-color: var(--main-color);
  background-color: var(--main-color);
  color: white;
}
.store .products-container {
  margin-top: 1.5rem;
  justify-content: space-between;
  min-height: 50vh;
}
.store .products-container .product {
  position: relative;
  aspect-ratio: 1/1;
}
.store .products-container .product .cover {
  border: 2px solid var(--light-color);
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 225px;
}
.store .products-container .product .cover .product-name {
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  padding: 0.5rem;
  font-size: 1.125rem;
  text-transform: capitalize;
}
.store .products-container .product .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.store .products-container .product .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: var(--light-color);
  border: 2px solid var(--light-color);
  border-radius: 0.5rem;
  padding: 2.25rem 0.25rem 0.25rem;
  transform: translateY(-2rem);
}
.store .products-container .product .bar a {
  width: -moz-fit-content;
  width: fit-content;
  color: var(--text-black-white);
}
.store .products-container .product .bar a:nth-child(2) {
  font-size: 1.2rem;
}
.store .products-container .product .bar a svg {
  cursor: pointer;
}
.store .btn-main {
  width: -moz-fit-content;
  width: fit-content;
}

.contact {
  background-color: var(--light-color);
  overflow: hidden;
}
.contact #contact-form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 0.8rem;
  padding: 1rem;
}
.contact .location {
  display: flex;
  align-items: center;
}
.contact .location .map-container {
  aspect-ratio: 1/1;
  width: 100%;
  background-color: var(--light-color-alt);
  overflow: hidden;
  border-radius: 0.5rem;
}

footer {
  position: relative;
  overflow: hidden;
  background-color: var(--light-color-alt);
  color: var(--text-black-white);
}
footer .info {
  margin-bottom: 20px;
}
footer .info a {
  display: block;
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  margin-bottom: 20px;
}
footer .info p {
  margin-bottom: 20px;
  color: #808080;
}
footer .info .socials {
  font-size: 1.6rem;
}
footer .info .socials svg {
  cursor: pointer;
}
footer .info .socials .fa-facebook:hover {
  color: var(--facebook-blue);
}
footer .info .socials .fa-twitter:hover {
  color: var(--twitter-blue);
}
footer .info .socials .fa-instagram:hover {
  color: var(--instagram-red);
}
footer .info .socials .fa-linkedin:hover {
  color: var(--linkedin-blue);
}
@media (max-width: 992px) {
  footer .info .socials {
    justify-content: space-around;
  }
}
footer .wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
footer .links ul li {
  padding: 10px;
}
footer .links ul a {
  text-transform: none;
  color: var(--text-black-white);
}
footer .contact {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  text-align: center;
}
footer .contact h4 {
  margin-bottom: 10px;
}
footer .copyright {
  margin: 30px auto 5px;
  text-align: center;
}
footer .link {
  text-align: center;
}
footer .link a {
  color: var(--text-black-white);
  font-size: 1.2rem;
  text-transform: none;
}

#discountModal {
  text-align: center;
}
#discountModal .modal-content {
  background-color: #FAF8F1;
  min-height: 500px;
  padding: 1rem;
}
#discountModal .modal-content img {
  margin: 0 auto;
  max-width: 50%;
}
@media (max-width: 992px) {
  #discountModal .modal-content img {
    max-width: 90%;
  }
}
#discountModal .modal-content .code-box {
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  background-color: #03001C;
  border-radius: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
#discountModal .custom-tooltip {
  --bs-tooltip-bg: #03001c;
  color: white;
  transform: translateY(-2rem);
}/*# sourceMappingURL=main.css.map */