html{
  color-scheme: dark light;
}
:root{
  --main-color: #F0A04B;
  --light-color: #FAF8F1;
  --light-color-alt: #e1dfd9;
  --dark-color: #03001C;
  --dark-color-alt: #1c1a33;
  --action-color: #2FA4FF;
  --text-black: black;
  --text-black-white: black;
  --text-white: white;
  --text-white-black: white;
  --white-black-color: white;
  --black-white-color: black;
  --text-grey: #808080;

  /* global colors */
  --facebook-blue: #4267B2;
  --twitter-blue: #1DA1F2;
  --youtube-red: #FF0000;
  --instagram-red: #F56040;
  --stapchat-yellow:#FFFC00;
  --git-hub-gray:#333;
}
body{
  min-height: 110vh;
  background-color: #FAF8F1;
  font-family: 'Nunito', sans-serif;
  *, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font: inherit; */
  }
  img, picture, svg, video{
    display: block;
    max-width: 100%;
  }
  table {
  border-collapse: collapse;
  border-spacing: 0;
  }
  ol, ul {
  list-style: none;
  }
  blockquote, q {
  quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  content: '';
  content: none;
  }
  input, textarea, button, select{
    font: inherit;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
    color: initial;
  }
}
/* Variables*/
body[dark-theme]{
  --light-color: #03001C ;
  --light-color-alt: #1c1a33 ;
  --dark-color: #FAF8F1;
  --dark-color-alt: #e1dfd9;
  --text-black-white: white;
  --text-white-black: black;
  --white-black-color: black;
  --black-white-color: white;
  background-color: var(--light-color);
  color: var(--text-black-white);
}
$main-color: var(--main-color);
$light-color: var(--light-color);
$light-color-alt: var(--light-color-alt);
$dark-color: var(--dark-color);
$dark-colo-altr: var(--dark-color-alt);
$action-color: var(--action-color);
$white-black-color: var(--white-black-color);
$black-white-color: var(--black-white-color);
$text-color: var(--text-black-white);
$text-grey: #808080;
// dark mode variations

// screen sizes variables
$max-width-xsmall: 'max-width: 576px';
$min-width-xsmall: 'min-width: 576px';
$max-width-small: 'max-width: 768px';
$min-width-small: 'min-width: 768px';
$max-width-medium: 'max-width: 992px';
$min-width-medium: 'min-width: 992px';
$max-width-large: 'max-width: 1200px';
$min-width-large: 'min-width: 1200px';


/* components */
//classes
.just-align-center{
  justify-content: center;
  align-items: center;
}
body[dark-theme] .d-dark-none{
  display: none;
}
body[dark-theme] .d-dark-block{
  display: block!important;
}
// section dividers
%divider{
  z-index: 10;
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  background-size: cover;
}
.divider-main{
  @extend %divider;
  background-image: url("../svg/wave-main.svg");
}
.divider-light-up{
  @extend %divider;
  background-image: url("../svg/wave-light-up.svg");
  bottom: 0;
  transform: translateY(-98%);
}
.divider-light-down{
  @extend .divider-light-up;
  background-image: url(../svg/wave-light-down.svg);
  transform: translateY(-1%)
}
.divider-dark-up{
  @extend .divider-light-up;
  background-image: url("../svg/wave-dark-up.svg");
}
.divider-dark-down{
  @extend .divider-dark-up;
  background-image: url(../svg/wave-dark-down.svg);
  transform: translateY(-1%);
}
// buttons
  .btn-action{
    display: block;
    border: none;
    outline: none;
    background-color: $action-color;
    border-radius: 5px;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0.2em 0.6em;
    color: white;
    cursor: pointer;
    &:hover{
      color: white;
      background-color: rgba(#2FA4FF, 0.9);
    }
  }
  .btn-main{
    display: block;
    border: none;
    outline: none;
    background-color: $main-color;
    border-radius: 5px;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0.2em 0.6em;
    color: white;
    cursor: pointer;
    &:hover{
      color: white;
      background-color: rgba(#F0A04B, 0.9);
    }
  }
// glass background
.bg-glass{
  background-color: rgba(255, 255, 255, 0.2);
  filter: blur(2px);
}

// sections styling
.section{
  position: relative;
  padding: 3rem 0;
  .section-title{
    text-align: center;
    h2{
      position: relative;
      font-weight: 800;
      text-transform: capitalize;
      width: fit-content;
      margin: 0 auto;
      font-size: 2.5rem;
      &::before, &::after{
        content:'';
        position: absolute;
        width: 0.7rem;
        height: 0.7rem;
        background-color: transparent;
        border: 3px solid $dark-color;
        border-radius: 0.1rem;
        top: 50%;
        left: -1rem;
        transform: translate(-50%, -50%);
      }
      &::after{
        left: calc(100% + 1rem);
      }
    }
    p{
      font-weight: 500;
    }
  }
}

// text
.brand-text{
  font-weight: 900;
  font-family: 'Cairo', sans-serif;
  color: $main-color;
  font-size: 1.875rem;
  letter-spacing: 0.20em;
  text-transform: uppercase;
}
.sub-text{
  color: $text-grey;
}

/* Custom Anchore Tags */
a.custom-anchor{
  text-decoration: none;
  color: $text-color;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}
a.custom-anchor::after{
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: $text-color;
  bottom: -0.1rem;
  left: 0;
  border-radius: 2px;
}
/* input stylling */
input, textarea{
  padding: 0.5rem;
  background-color: $light-color-alt;
  border: none;
  border-radius: 0.4em;
  border: 1.5px solid transparent;
  color: $black-white-color;
  &:focus{
    border-color: $main-color;
    outline: none;
  }
}

/*
---------------Navigation bar
*/ 
nav{
  position: fixed;
  width : 100%;
  z-index: 1000;
  background-color: $light-color;
  .wrapper{
    background-color: inherit;
    padding: 0 20px;
  }
  .bar{
    display: flex;
    align-items: center;
    background-color: inherit;
    .logo{
      display: flex;
      align-items: center;
      gap: .75em;
      margin-right: auto;
      @media (#{$max-width-small}) {
        font-size: 1.25rem;
      }
      img{
        width: 45px;
        height: 45px;
      }
      }
    ul{
      margin-right: auto;
      flex-grow: 1;
      font-size: 1rem;
      display: flex;
      align-items: center;
      li.nav-item{
        font-size: 1.5rem;
        padding: 0.3em 0.5em;
        &:first-child{
          margin-left: auto;
        }
        a{
          color: $text-color;
          display: block;
          position: relative;
          text-decoration: none;
          font-weight: 500;
          overflow: hidden;
          &:hover{
            color: $main-color
          }
          &:hover::before{
            width:100%;
          }
          &::before{
            content: '';
            position: absolute;
            width: 0;
            height: 0.1em;
            background-color: $main-color;
            bottom: 0%;
            transition: width 0.5s ease-in-out;
            left: 50%;
            transform: translate(-50%,-50%);
            transform-origin: center;
          }
          &.active{
            color: $main-color
          }
          &.active::before{
            width:100%;
          }
        }
      }
      .nav-btn{
        padding: 0.3em 0.5em;
        a.theme-btn{
          color: $text-color;
          font-weight: 500;
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
      
    }
    .actions{
      display: flex;
      align-items: center;
      gap:5px;
      color: white;
      .badge{
        padding: 0.1em 0.3em;
        top: 20%;
      }
      .cart{
        font-size: 1.25rem;
        color: $text-color
      }
    }
    .menu-icon{
      color: $text-color;
      width: 22px;
      font-size: 1.5rem;
      border: none;
      background-color: transparent;
      margin: 0 0.8725rem 0 1.25rem;
      .close-icon{
        display: none;
      }
    }
    @media (#{$max-width-medium}){
      ul{
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        top: 100%;
        width: 100%;
        height: fit-content;
        left: 0;
        overflow: hidden;
        transform-origin: center;
        background-color: inherit;
        padding-left: 20px;
        transition: height 0.5s ease; 
        li.nav-item:first-child{
          margin-left: 0;
        }
        li.nav-btn{
          margin-left: 0;
        }
      }
    }
  }
  &.expanded{
    .menu-icon{
      .close-icon{
        display: block;
      }
      .burger-icon{
        display: none;
      }
    }
  }
  &.expanded .bar ul{
    display: flex;
    a{
      width: fit-content;
    }
  }
  
}
// --------------- Landing Section
.landing{
  min-height: 100vh;
  background-size: cover;
  background-image: url(../svg/blob.svg);
  background-position: 0% 30%;
  overflow: hidden;
  .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    svg{
      width: 100%;
      height: 100%;
      position: relative;
      #first{
        transform: translate(100%, -100%)
      }
    }
  }
  .container{
    min-height: 80vh;
  }
  .row{
    height: 80vh;
  }

  .landing-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h1{
      font-weight: 700;
      color: $text-color;
      span{
        -webkit-text-stroke: 0.5px var(--light-color);
        font-size: 2.25rem;
        font-weight: 1000;
      }
    }
    p{
      font-size: 1.125rem;
      font-weight: 700;
    }
    .btn-main{
      border: 2px solid $light-color;
    }
    @media (#{$max-width-small}){
      &{
        height: fit-content;
        margin-top: 6rem;
      }
    }
  }
  .sneaker-swiper{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: blue;
    @media (#{$max-width-small}){
      &{
        height: fit-content;
      }
    }
    // contents
    .swiper{
      width: fit-content;
      height: fit-content;
      // transform: rotate(90deg);
      // background-color: red;
      max-width: 100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .swiper-slide{
      display:flex;
      align-items: center;
      justify-content: center;
      // background-color: black;
      text-align: center;
      color: white;
      height: 100%;
      width: 100%;
      #first-img{
        max-width: 90%;
        transform: scale(1.5);
        @media(#{$max-width-medium}){
        transform: scale(2);
        }
        @media(#{$max-width-small}){
          max-width: 70%;
          transform: scale(1.4);
          }
        }
      
      #second-img{
        max-width: 50%;
        transform: scale(1.5) rotate(303deg);
        @media(#{$max-width-medium}){
          max-width: 50%;
          transform: scale(2) rotate(303deg) translate(-10%, -16%);
        }
        @media(#{$max-width-small}){
          max-width: 50%;
          transform: scale(1.1) rotate(303deg) translate(-10%, 9%);
          }
        }
      
      #third-img{
        max-width: 90%;
        transform: scale(1.5) rotate(320deg) translateY(-5%);
        @media(#{$max-width-medium}){
          max-width: 50%;
          transform: scale(2.8) rotate(320deg) translate(2%, -4%);
        }
        @media(#{$max-width-small}){
          max-width: 70%;
          transform: scale(1.3) rotate(320deg) translate(3%, -11%);
          }
        }
        #fourth-img{
          max-width: 90%;
          transform: scale(1.5) rotate(310deg) translateY(-5%);
          @media(#{$max-width-medium}){
            max-width: 50%;
            transform: scale(3.5) rotate(310deg) translate(2%, -4%);
          }
          @media(#{$max-width-small}){
            max-width: 70%;
            transform: scale(1.3) rotate(310deg) translate(-9%, 2%)
          }
        }
      }
    }
  }
// --------------- about Section
.about{
  overflow-x: hidden;
  .container{
    margin-bottom: 5rem;
  }
  .row{
    display: flex;
    align-items:center;
    margin-top: 2rem;
  }
  .video-container{
    aspect-ratio: 16/9;
    iframe{
      aspect-ratio: 16/9;
    }
  }
  .info p{
    font-size: 1.25rem;
    font-weight: 500;
  }
  .image{
    background-image: url("../images/about/demo.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1/1;
  }
  .tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .tile{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 35%;
      margin: 1rem;
      aspect-ratio: 1/1;
      background-color: $light-color-alt;
      border-radius: 20px;
      color: $main-color;
      font-size: 5rem;
      padding: 0.5rem;
      svg{
        margin-bottom: 0.5rem;
      }
      p{
        font-size: 1rem;
        color: white;
        text-align: center;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }
}
// --------------- Store Section
.store{
  background-color: $light-color-alt;
  .section-title{
    margin-top: 4rem;
  };
  .status{
    left: 50%;
    top: 0;
    z-index: 20;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #1c1a33;
    border: 2px solid white;
    border-radius: 1rem;
    min-width: 90%;
    max-width: 90%;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .stat{
      flex-grow: 1;
      padding: 0.5rem;
      margin: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span{
        font-size: 1.5rem;
        font-weight: 500;
        color: white;
      }
      p{
        // word-break:break-all;
        text-align: center;
      }
    }
  }
  #products-filters{
    margin-top: 0.85rem;
    li button{
      border: 1px solid $black-white-color;
      color: $text-color;
      text-transform: capitalize;
      border-radius: 0.5em;
      &.active{
        border-color: $main-color;
        background-color: $main-color;
        color: white;
      }
    }
    
  }
  .products-container{
    margin-top: 1.5rem;
    justify-content: space-between;
    min-height: 50vh;
    .product{
      position: relative;
      aspect-ratio: 1/1;
      // background-color: red;
      .cover{
        border: 2px solid $light-color;
        position: relative;
        z-index: 2;
        overflow: hidden;
        border-radius: 0.5rem;
        height: 225px;
        .product-name{
          position: absolute;
          bottom: 0;
          left: 0;
          color: black;
          padding: 0.5rem;
          font-size: 1.125rem;
          text-transform: capitalize;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        background-color: $light-color;
        border: 2px solid $light-color;
        border-radius: 0.5rem;
        padding: 2.25rem .25rem .25rem;
        transform: translateY(-2rem);
        a{
          width: fit-content;
          color: $text-color;
          &:nth-child(2){
            font-size: 1.2rem;
          }
          svg{
            cursor: pointer;
          }
        }
        
      }
    }
  }
  .btn-main{
    width: fit-content;
  }
}
.contact{
  background-color: $light-color;
  overflow: hidden;
  #contact-form{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 0.8rem;
    padding: 1rem;
  }
  .location{
    display: flex;
    align-items: center;
    .map-container{
      aspect-ratio: 1/1;
      width: 100%;
      background-color: $light-color-alt;
      overflow: hidden;
      border-radius: 0.5rem;
    }
  }
}
footer{
  position: relative;
  overflow: hidden;
  background-color: $light-color-alt;
  color: $text-color;

  .info{
    margin-bottom: 20px;
    a{
      display:block;
      font-size: 2rem;
      font-family: 'Pacifico', cursive;
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 20px;
      color: $text-grey;
    }
    .socials{
      svg{
        cursor: pointer
      }
      font-size: 1.6rem;
      .fa-facebook:hover{
      color: var(--facebook-blue)
      }
      .fa-twitter:hover{
        color: var(--twitter-blue)
      }
      .fa-instagram:hover{
        color: var(--instagram-red)
      }
      .fa-linkedin:hover{
        color: var(--linkedin-blue)
      }
      @media (#{$max-width-medium}){
        justify-content: space-around;
      }
    }
  }
  .wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .links{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      li{
      padding: 10px;
      }
      a{
        text-transform: none;
        color: $text-color;
      }
    }
  }
  .contact{
    width: fit-content;
    background-color: transparent;
    text-align: center;
    h4{
      margin-bottom: 10px;
    }
  }
  .copyright{
    margin: 30px auto 5px;
    text-align: center;
  }
  .link{
    text-align: center;
    a{
      color: $text-color;
      font-size: 1.2rem;
      text-transform: none;
    }
  }
}
#discountModal{
  text-align:center;
  .modal-content{
    background-color: #FAF8F1;
    min-height: 500px;
    padding: 1rem;
    img{
      margin: 0 auto;
      max-width: 50%;
      @media (#{$max-width-medium}){
        max-width: 90%;
      }
    }
    .code-box{
      padding: 0.5rem 1rem;
      margin: 2rem auto;
      background-color: #03001C;
      border-radius: 0.5rem;
      width: fit-content;
      cursor: pointer;
    }
  }
  .custom-tooltip {
    --bs-tooltip-bg: #03001c;
    color: white;
    transform: translateY(-2rem);
  }
}